.rule {
  margin: 45px 0 !important;
  border-color: #DDD; }
  .rule:before {
    content: ' ';
    display: block;
    width: 40px;
    height: 40px;
    margin: -20px auto 0;
    border-radius: 100%;
    border: 10px solid #FFF;
    background: #DDD; }
  .rule:after {
    content: ' ';
    display: block;
    width: 16px;
    height: 16px;
    margin: -28px auto 0;
    border-radius: 100%;
    background: #FFFFFF; }

#header-primary {
  line-height: 70px; }
  #header-primary .active a {
    color: #333333 !important; }
  #header-primary a {
    color: #888888; }
    #header-primary a:hover {
      color: #333333; }

#header-top {
  padding: 50px 0;
  text-align: center; }
  #header-top img {
    width: 25%;
    margin-bottom: 20px; }
  #header-top p {
    padding: 15px 70px;
    color: #333;
    font-size: 35px;
    font-weight: 900; }
    #header-top p span {
      font-weight: 200; }

#bar-promotions {
  width: 100%;
  padding: 200px 20px;
  margin-bottom: 50px;
  background: #CC2936;
  background-image: linear-gradient(to right, #CC2936, #172A89);
  text-align: center;
  font-size: 18px;
  font-weight: 900;
  color: #FFFFFF; }
  #bar-promotions span {
    font-weight: 200; }
  #bar-promotions i {
    font-size: 200px;
    margin-right: 20px; }

#testemony-action {
  margin: 0 auto;
  margin-top: 50px !important;
  padding: 15px 30px;
  background: #172A89;
  color: #FFF;
  font-weight: 300;
  font-size: 15px;
  text-transform: uppercase; }
  #testemony-action:hover {
    background-image: linear-gradient(to right, transparent, #CC2936); }
  #testemony-action i {
    margin-right: 6px !important; }
  #testemony-action span {
    font-weight: bold;
    font-style: italic; }

#about-link {
  margin-top: 10px;
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  color: #172A89;
  border: 1px solid #172A89; }
  #about-link:hover {
    background: #172A89;
    color: #FFFd; }

#about-social_links {
  margin-top: 50px; }
  #about-social_links a {
    margin: 5px;
    padding: 5px 15px; }
    #about-social_links a i {
      margin-right: 10px; }

#footer {
  padding: 20px 0 100px; }

#footer-links {
  margin: 10px 0;
  text-align: center; }
  #footer-links li {
    display: inline-block;
    font-weight: bold;
    padding: 5px; }
    #footer-links li a {
      color: #172A89; }
  #footer-links li:after {
    content: '-';
    margin-left: 10px;
    color: #CCC; }
  #footer-links li:last-child:after {
    display: none; }

#footer-about {
  font-style: italic;
  color: #888; }

#footer-social_links {
  margin-top: 20px; }
  #footer-social_links a {
    margin: 0 10px;
    padding: 10px;
    font-size: 18px;
    color: #666; }
    #footer-social_links a:hover {
      color: #CC2936; }
