#header-top
	height: 700px

	&_content
		padding-top: 100px
		text-align: center

	&_content-note
		width: 100%

	&_content-header
		padding: 15px 70px
		display: inline-block
		margin-bottom: 48px
		border: 1px solid #333
		color: #333
		text-align: center
		font-size: 18px
		font-weight: 300
		text-transform: uppercase

		span
			font-weight: bold
			font-style: italic
