
* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none !important;
}

.rule {
    margin: 45px 0 !important;
    border-color: #DDD;
}

.rule:before {
    content: ' ';
    display: block;
    width: 40px;
    height: 40px;
    margin: -20px auto 0;
    border-radius: 100%;
    border: 10px solid #FFF;
    background: #DDD;
}

.rule:after {
    content: ' ';
    display: block;
    width: 16px;
    height: 16px;
    margin: -28px auto 0;
    border-radius: 100%;
    background: #FFFFFF;
}

#tb-menu {
    margin: 0 auto !important;
    background: #333333;
    border-bottom: 4px solid #111111;
}

#tb-menu-links {
    float: left;
    margin: 0;
}

#tb-menu-links li {
    display: inline-block;
    text-align: center;
}

#tb-menu-links a {
    display: inline-block;
    min-width: 100px;
    padding: 0 15px;
    line-height: 60px;
    color: #FFF;
}

#tb-menu-links a:hover,
#tb-menu-links a:active,
#tb-menu-links a.selected {
    background: #CC2936;
}

#tb-menu-search {
    float: right;
    height: 60px;
    background: #FFF;
}

#tb-menu-search input {
    padding: 15px;
    margin-top: 6px;
    border: none;
    outline: none;
}

#tb-menu-search i {
    width: 50px;
    text-align: center;
    display: inline-block;
    line-height: 54px;
    margin: 0 2px;
    cursor: pointer;
}

#tb-menu-search i:hover {
    background: #888;
    color: #FFF;
}

#tb-header-top {
    height: 700px;
}

#tb-header-top-background {
    width: 100%;
    height: 700px;
    z-index: -1;
    position: absolute;
}

#tb-header-top-background:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    background: #000000;
    background-image: linear-gradient(to right, #172A89, #06A77D);
    opacity: .7;
}

#tb-header-top-background:before {
    content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top:-10px;
    left:-10px;
    z-index: -3;
    filter: blur(12px);
    background-image: url('../../images/704E761C.jpg');
    background-attachment: fixed;
    background-size: 130%;
}

#tb-header-top-content {
    padding-top: 100px;
    text-align: center;
}

#tb-header-top-content-header {
    padding: 15px 70px;
    display: inline-block;
    margin-bottom: 48px;
    border: 1px solid #FFF;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
}

#tb-header-top-content-header span {
    font-weight: bold;
    font-style: italic;
}

#bar-promotions {
    width: 100%;
    height: 60px;
    padding: 20px;
    margin-bottom: 50px;
    background: #CC2936;
    background-image: linear-gradient(to right, #CC2936, #172A89);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
    color: #FFFFFF;
}

#bar-promotions i {
    margin-right: 20px;
}

#testemony-action {
    margin-top: 50px !important;
    padding: 15px 30px;
    background: #172A89;
    color: #FFF;
    font-weight: 300;
    font-size: 15px;
    text-transform: uppercase;
}

#testemony-action:hover {
    background-image: linear-gradient(to right, transparent, #CC2936);
}

#testemony-action i {
    margin-right: 6px !important;
}

#testemony-action span {
    font-weight: bold;
    font-style: italic;
}

#about-link {
    background: #FFF;
    margin-top: 10px;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    color: #172A89;
    border: 1px solid #172A89;
}

#about-link:hover {
    background: #172A89;
    color: #FFF;
}

#about-social_links a {
    -webkit-transition: opactity 1s ease-in-out delay;
    -moz-transition: opactity 1s ease-in-out delay;
    transition: opactity 1s ease-in-out delay;
    opacity: .7;
    margin: 5px;
    padding: 5px 15px;
    color: #FFF;
}

#about-social_links a:hover{
    opacity: 1;
}

#about-social_links a i {
    margin-right: 5px;
}

#about-social_links a:first-child {
    background: rgb(59,89,153);
}

#about-social_links a:nth-child(2) {
    background: rgb(205,32,31);
}

#about-social_links a:last-child {
    background: rgb(85,172,238);
}


/** footer **/
#footer {
    padding: 20px 0 100px;
}

#footer-links {
    margin: 10px 0;
    text-align: center;
}

#footer-links li {
    display: inline-block;
    font-weight: bold;
    padding: 5px;
}

#footer-links li a {
    color: #172A89;
}

#footer-links li:after {
    content: '-';
    margin-left: 10px;
    color: #CCC;
}

#footer-links li:last-child:after {
    display: none;
}

#footer-about {
    font-style: italic;
    color: #888;
}

#footer-social_links {
    margin-top: 20px;
}

#footer-social_links a {
    margin: 0 10px;
    padding: 10px;
    font-size: 18px;
    color: #666;
}

#footer-social_links a:hover {
    color: #CC2936;
}
